<!DOCTYPE html>

<html>

<head>
    <title>Daily Rates</title>
    <link rel="stylesheet" href="/css/styless.css">
    
</head>

<body>

     <div class="main-content">
        {{>header}}
    
    <form action="">

        <select name= "exchange" id="exchange">
            <option value = 'poloniex'>Poloniex</option>
            
        </select>

        <select name= "asset" id="asset">
            <option value = 'XMR'>XMR/BTC</option>
            <option value = 'DOGE'>DOGE/BTC</option>
            <option value = 'ZEC'>ZEC/BTC</option>
            <option value = 'BCHABC'>BCH/BTC</option>
            <option value = 'LTC'>LTC/BTC</option>
            <option value = 'ETC'>ETC/BTC</option>
            <option value = 'REP'>REP/BTC</option>
            <option value = 'ETH'>ETH/BTC</option>
            <option value = 'DASH'>DASH/BTC</option>        
        </select>


        <input type="date" id= "time">
           <button>Search</button>
        

    </form>


    <p id="message-1"></p>
    <p id="message-2"></p>
    <p id="message-3"></p>
    <p id="message-4"></p>
    <p id="message-5"></p>

    </div>
    
    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>