<!DOCTYPE html>

<html>

<head>
    <title>Daily Rates</title>
    <link rel="stylesheet" href="/css/styless.css">
    
</head>

<body>

     <div class="main-content">
        {{>header}}
    
    <form action="">

        <select name= "exchange" id="exchange">
            <option value = 'poloniex'>Poloniex</option>
            
        </select>

        <select name= "asset" id="asset">
            
            <option value = 'XMR'>DOGE/BTC</option>
            <option value = 'DOGE'>DASH/BTC</option>
            <option value = 'ZEC'>ETH/BTC</option>
            <option value = 'BCHABC'>REP/BTC</option>
            <option value = 'LTC'>LTC/BTC</option>
            <option value = 'ETC'>XMR/BTC</option>
            <option value = 'REP'>ZEC/BTC</option>
            <option value = 'ETH'>ETC/BTC</option>
            <option value = 'DASH'>DGB/BTC</option> 
            <option value = 'DASH'>BCH/BTC</option>
            <option value = 'DASH'>BTG/BTC</option>
            <option value = 'DASH'>ETN/BTC</option>
            <option value = 'DASH'>XMC/BTC</option>
            <option value = 'DASH'>EOS/BTC</option>
            <option value = 'DASH'>BEAM/BTC</option>

        </select>       
        </select>


        <input type="date" id= "time">
           <button>Search</button>
        

    </form>


    <p id="message-1"></p>
    <p id="message-2"></p>
    <p id="message-3"></p>
    <p id="message-4"></p>
    <p id="message-5"></p>

    </div>
    
    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>