<!DOCTYPE html>

<html>

<head>
    <title>Help Page</title>
    <link rel="stylesheet" href="/css/styless.css">
</head>

<body>
    <div class="main-content">
       {{>header}}
       
       <p>Here you can search for help</p>
    </div>
    
       {{>footer}}
</body>

</html>