<!DOCTYPE html>

<html>

<head>
    <title>Profitability</title>
    <link rel="stylesheet" href="/css/styless.css">
</head>

<body>
    <div class="main-content">
       {{>header}}
       {{message}}
       
    </div>
    
       {{>footer}}
</body>

</html>