<header>
    <h1>{{title}}</h1>

    {{!--Not necessary for now--}}
    <a href="/">Daily rates</a>
    <a href="/profitability">Profitability</a>
    {{!-- <a href="/sudo">Sudo</a> 
    <a href="/help">Help</a>  --}}
    
</header>